<!DOCTYPE html>
<html lang="en">
<head>

<title></title>   
</head>

<body>
    
     <form action="/api/add" method="POST">
        <input type="text" placeholder="brand" name="brand">
        <input type="text" placeholder="width" name="width">
        <input type="text" placeholder="length" name="length">
        <input type="text" placeholder="volume" name="volume">
        <input type="text" placeholder="fins" name="fins">
        <button type="submit">Submit</button>
      </form> 
      

</body>
</html>